.data-layers__item {
  display: flex;
  padding: $theme.sizes.xs;
  user-select: none;

  &__name {
    padding: $theme.sizes.s;
    flex: 1;
  }

  &__type {
    padding: $theme.sizes.s $theme.sizes.m;
    font-weight: bold;
  }

  &__button {
    width: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
