.map-menu__item {
  position: relative;
  display: inline-flex;
  flex: 1;
  padding: 0;
  color: $theme.colors.white;
  background-color: $theme.colors.main;
  height: 100%;
  user-select: none;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-overflow: ellipsis;
  font-weight: bold;

  &:hover {
    background-color: $theme.colors.secondary;
    cursor: pointer;
  }

  &:first-child {
    border-bottom-left-radius: $theme.sizes.xl;
  }

  &:last-child {
    border-bottom-right-radius: $theme.sizes.xl;
  }

  &_active {
    background-color: darken( $theme.colors.main, 30% );
  }
}
