.layers-list__item {
  display: flex;
  padding: $theme.sizes.xs;
  user-select: none;

  &__name {
    padding: $theme.sizes.s;
    flex: 1;
  }

  &__checkbox {
    margin: $theme.sizes.m 0;
  }

  &__opacity-input {
    width: 20%;
    margin: 0 $theme.sizes.m;
  }
}
