.map-menu {
  display: flex;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 75%;
  height: 5%;

  &_content {
    top: 5vh;
    position: absolute;
    width: 100%;
    background-color: $theme.colors.background;
    padding: $theme.sizes.s;
  }
}
