$theme = {
  colors: {
    main: rgba(0,60,136,.5),
    secondary: rgba(0,60,136,.7),
    tetriary: rgba(255,255,255,.4),
    background: rgba(255,255,255,.6),
    border: #444444,
    white: white,
    black: black,
    negative: red,
    warning: yellow,
    positive: green,
  },
  sizes: {
    xs: 0.125rem,
    s: 0.25rem,
    m: 0.5rem,
    l: 1rem,
    xl: 1.25rem,
  }
}

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

@import './*/**';
@import './bootstrap.css';

html, body, #app-root {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.hidden {
  display: none;
}
